.header {
  width: 200px;
  height: 200px;
  background-color: pink;
  // .header span {...}
  span {
    font-size: 30px;
  }
  // .header > a {...}
  > a {
    color: red;
  }
  // .header::after {...}
  &::after {
    content: 'a';
  }
}
