/target
/02/profile-demo/target
/02/workspace-demo/target
/03/my-box/target
/03/thread-demo/target
/03/oop-demo/target
/03/pattern-match-demo/target
/04/enhanced-rust-demo/target
/04/web-server/target